# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Logs
*.log
logs/

# Cache / generated
apps.json
vms.json

# Test reports
*TEST_REPORT.md

# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
dist/
.cache/
server.js

# IDE
.vscode/
.idea/
*.swp
*.swo